SAP-CDM-BTMU-Mappings/SAP-CDM-Mappings/Messages/CDM/V2/BankToCustomerStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2013 (x64) (http://www.altova.com) by Global License Asset Management (SAP AG)-->
<!--edited with XMLSpy v2013 (x64) (http://www.altova.com) by Global License Asset Management (SAP AG)-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.30.4) on 2012 Jun 07 20:47:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:sap:messagetype:310:SAP_FSN_CDM:2.0:BankToCustomerStatement"
    xmlns:bdt="urn:sap:messagetype:310:FSN_CDM:2.0:BaseDataTypes"
    targetNamespace="urn:sap:messagetype:310:SAP_FSN_CDM:2.0:BankToCustomerStatement"
    elementFormDefault="qualified">
  <xs:import namespace="urn:sap:messagetype:310:FSN_CDM:2.0:BaseDataTypes" schemaLocation="BaseDataTypes.xsd"/>
  <xs:element name="BankToCustomerStatement" type="BankToCustomerStatementV03Type"/>
  <xs:complexType name="AccountInterestType">
    <xs:sequence>
      <xs:element name="Type" type="bdt:InterestTypeCodeType" minOccurs="0"/>
      <xs:element name="Rate" type="InterestRateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FromToDate" type="DateTimePeriodDetailsType" minOccurs="0"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="Tax" type="TaxChargesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountStatementType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:AccountStatementIDType"/>
      <xs:element name="StatementPagination" type="PaginationType" minOccurs="0"/>
      <xs:element name="ElectronicSequenceNumber" type="xs:decimal" minOccurs="0"/>
      <xs:element name="LegalSequenceNumber" type="xs:decimal" minOccurs="0"/>
      <xs:element name="CreationDateTime" type="xs:dateTime"/>
      <xs:element name="FromToDate" type="DateTimePeriodDetailsType" minOccurs="0"/>
      <xs:element name="CopyDuplicateIndicator" type="bdt:CopyDuplicateCodeType" minOccurs="0"/>
      <xs:element name="ReportingSource" type="bdt:ReportingSourceCodeType" minOccurs="0"/>
      <xs:element name="Account" type="CashAccountType"/>
      <xs:element name="RelatedAccount" type="RelatedCashAccountType" minOccurs="0"/>
      <xs:element name="Interest" type="AccountInterestType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Balance" type="CashBalanceType" maxOccurs="unbounded"/>
      <xs:element name="TransactionsSummary" type="TotalTransactionsType" minOccurs="0"/>
      <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ReportEntryType"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="AdditionalStatementInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalMessageIndicatorType">
    <xs:sequence>
      <xs:element name="MessageNumberID" type="bdt:MessageNumberIDType" minOccurs="0"/>
      <xs:element name="MessageID" type="bdt:MessageIDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeDetailsType">
    <xs:sequence>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CurrencyExchange" type="CurrencyExchangeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeType">
    <xs:sequence>
      <xs:element name="InstructedAmount" type="AmountAndCurrencyExchangeDetailsType" minOccurs="0"/>
      <xs:element name="TransactionAmount" type="AmountAndCurrencyExchangeDetailsType" minOccurs="0"/>
      <xs:element name="CounterValueAmount" type="AmountAndCurrencyExchangeDetailsType" minOccurs="0"/>
      <xs:element name="AnnouncedPostingAmount" type="AmountAndCurrencyExchangeDetailsType" minOccurs="0"/>
      <xs:element name="ProprietaryAmount" type="ProprietaryAmountAndCurrencyExchangeDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundaryType">
    <xs:sequence>
      <xs:element name="BoundaryAmount" type="xs:decimal"/>
      <xs:element name="Included" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankToCustomerStatementV03Type">
    <xs:sequence>
      <xs:element name="GroupHeader" type="GroupHeaderType"/>
      <xs:element name="Statement" type="AccountStatementType" maxOccurs="unbounded"/>
      <xs:element name="SupplementaryData" type="SupplementaryDataType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructureSubFamilyType">
    <xs:sequence>
      <xs:element name="Code" type="bdt:BankTransactionFamilyCodeType"/>
      <xs:element name="SubFamilyCode" type="bdt:BankTransactionSubFamilyCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeTotalsType">
    <xs:sequence>
      <xs:element name="NumberOfEntries" type="xs:string" minOccurs="0"/>
      <xs:element name="Sum" type="xs:decimal" minOccurs="0"/>
      <xs:element name="TotalNetEntryAmount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
      <xs:element name="ForecastIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="BankTransaction" type="BankTransactionType"/>
      <xs:element name="Availability" type="CashBalanceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionType">
    <xs:sequence>
      <xs:element name="Code" type="bdt:BankTransactionCodeType"/>
      <xs:element name="Family" type="BankTransactionCodeStructureSubFamilyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchInformationType">
    <xs:sequence>
      <xs:element name="MessageID" type="bdt:MemberIDType" minOccurs="0"/>
      <xs:element name="PaymentInformationID" type="bdt:PaymentIDType" minOccurs="0"/>
      <xs:element name="NumberOfTransactions" type="xs:string" minOccurs="0"/>
      <xs:element name="TotalAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionType">
    <xs:sequence>
      <xs:element name="FinancialInstitution" type="FinancialInstitutionType"/>
      <xs:element name="Branch" type="BranchDataType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchDataType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:BranchIDType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardAggregatedType">
    <xs:sequence>
      <xs:element name="AdditionalServiceCode" type="bdt:CardPaymentServiceTypeCodeType" minOccurs="0"/>
      <xs:element name="TransactionCategoryCode" type="bdt:CardTransactionCategoryCodeType" minOccurs="0"/>
      <xs:element name="SaleReconciliationID" type="xs:string" minOccurs="0"/>
      <xs:element name="SequenceNumberRange" type="CardSequenceNumberRangeType" minOccurs="0"/>
      <xs:choice minOccurs="0">
        <xs:element name="TransactionDate" type="xs:date"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardEntryType">
    <xs:sequence>
      <xs:element name="Card" type="PaymentCardType" minOccurs="0"/>
      <xs:element name="POI" type="PointOfInteractionType" minOccurs="0"/>
      <xs:element name="AggregatedEntry" type="CardAggregatedType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardIndividualTransactionType">
    <xs:sequence>
      <xs:element name="AdditionalServiceCode" type="bdt:CardPaymentServiceTypeCodeType" minOccurs="0"/>
      <xs:element name="TransactionCategoryCode" type="bdt:CardTransactionCategoryCodeType" minOccurs="0"/>
      <xs:element name="SaleReconciliationID" type="bdt:SaleReconciliationIDType" minOccurs="0"/>
      <xs:element name="SaleReferenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="SequenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="TransactionID" type="bdt:TransactionIDType" minOccurs="0"/>
      <xs:element name="Product" type="ProductType" minOccurs="0"/>
      <xs:element name="ValidationDate" type="xs:date" minOccurs="0"/>
      <xs:element name="ValidationSequenceNumber" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardSecurityInformationType">
    <xs:sequence>
      <xs:element name="CSCManagement" type="bdt:CSCManagementCodeType"/>
      <xs:element name="CSCValue" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardSequenceNumberRangeType">
    <xs:sequence>
      <xs:element name="FirstTransaction" type="xs:string" minOccurs="0"/>
      <xs:element name="LastTransaction" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardTransactionType">
    <xs:sequence>
      <xs:element name="Card" type="PaymentCardType" minOccurs="0"/>
      <xs:element name="POI" type="PointOfInteractionType" minOccurs="0"/>
      <xs:element name="Transaction" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Aggregated" type="CardAggregatedType"/>
            <xs:element name="Individual" type="CardIndividualTransactionType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:AccountIDType"/>
      <xs:element name="Type" type="bdt:CashAccountTypeCodeType" minOccurs="0"/>
      <xs:element name="Currency" type="bdt:CurrencyCodeType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="Owner" type="PartyType" minOccurs="0"/>
      <xs:element name="Servicer" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceAvailabilityType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="NumberOfDays" type="xs:integer"/>
        <xs:element name="ActualDate" type="xs:date"/>
      </xs:choice>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceType">
    <xs:sequence>
      <xs:element name="Type" type="bdt:BalanceTypeCodeType"/>
      <xs:element name="CreditLine" type="CreditLineType" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType"/>
      <xs:choice>
        <xs:element name="Date" type="xs:date"/>
        <xs:element name="DateTime" type="xs:dateTime"/>
      </xs:choice>
      <xs:element name="Availability" type="CashBalanceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashDepositType">
    <xs:sequence>
      <xs:element name="NoteDenomination" type="bdt:AmountType"/>
      <xs:element name="NumberOfNotes" type="xs:string"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesRecordType">
    <xs:sequence>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
      <xs:element name="TypeCode" type="bdt:ChargeTypeCodeType" minOccurs="0"/>
      <xs:element name="Rate" type="xs:decimal" minOccurs="0"/>
      <xs:element name="BearerCode" type="bdt:ChargeBearerTypeCodeType" minOccurs="0"/>
      <xs:element name="Agent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="Tax" type="TaxChargesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesType">
    <xs:sequence>
      <xs:element name="TotalChargesAndTaxAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="Record" type="ChargesRecordType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberType">
    <xs:sequence>
      <xs:element name="ClearingSystemID" type="bdt:ClearingSystemCodeType" minOccurs="0"/>
      <xs:element name="MemberID" type="bdt:MemberIDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetailsType">
    <xs:sequence>
      <xs:element name="NamePrefixCode" type="bdt:NamePrefixCodeType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="PhoneNumber" type="xs:normalizedString" minOccurs="0"/>
      <xs:element name="MobileNumber" type="xs:normalizedString" minOccurs="0"/>
      <xs:element name="FaxNumber" type="xs:normalizedString" minOccurs="0"/>
      <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="Other" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateActionType">
    <xs:sequence>
      <xs:element name="EventType" type="xs:string"/>
      <xs:element name="EventID" type="bdt:EventIDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditLineType">
    <xs:sequence>
      <xs:element name="Included" type="xs:boolean"/>
      <xs:element name="Amount" type="bdt:AmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformationType">
    <xs:sequence>
      <xs:element name="TypeCode" type="bdt:CreditorReferenceTypeCodeType" minOccurs="0"/>
      <xs:element name="Reference" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorTaxPartyType">
    <xs:sequence>
      <xs:element name="TaxID" type="bdt:TaxIDType" minOccurs="0"/>
      <xs:element name="RegistrationID" type="bdt:TaxRegistrationIDType" minOccurs="0"/>
      <xs:element name="TaxType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAndAmountRangeType">
    <xs:sequence>
      <xs:element name="Amount" type="ImpliedCurrencyAmountRangeChoiceType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
      <xs:element name="Currency" type="bdt:CurrencyCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchangeType">
    <xs:sequence>
      <xs:element name="SourceCurrency" type="bdt:CurrencyCodeType"/>
      <xs:element name="TargetCurrency" type="bdt:CurrencyCodeType" minOccurs="0"/>
      <xs:element name="UnitCurrency" type="bdt:CurrencyCodeType" minOccurs="0"/>
      <xs:element name="ExchangeRate" type="xs:decimal"/>
      <xs:element name="ContractID" type="bdt:ContractIDType" minOccurs="0"/>
      <xs:element name="QuotationDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoiceType">
      <xs:choice>
        <xs:element name="Date" type="xs:date"/>
        <xs:element name="DateTime" type="xs:dateTime"/>
      </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirthType">
    <xs:sequence>
      <xs:element name="BirthDate" type="xs:date"/>
      <xs:element name="ProvinceOfBirth" type="xs:string" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="xs:string"/>
      <xs:element name="CountryOfBirth" type="bdt:CountryCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetailsType">
    <xs:sequence>
      <xs:element name="FromDate" type="xs:date"/>
      <xs:element name="ToDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetailsType">
    <xs:sequence>
      <xs:element name="FromDateTime" type="xs:dateTime"/>
      <xs:element name="ToDateTime" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtorTaxPartyType">
    <xs:sequence>
      <xs:element name="TaxID" type="bdt:TaxIDType" minOccurs="0"/>
      <xs:element name="RegistrationID" type="bdt:TaxRegistrationIDType" minOccurs="0"/>
      <xs:element name="TaxType" type="xs:string" minOccurs="0"/>
      <xs:element name="Authorisation" type="TaxAuthorisationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountTypeAndAmountType">
    <xs:sequence>
      <xs:element name="TypeCode" type="bdt:DiscountAmountTypeCodeType" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayCapabilitiesType">
    <xs:sequence>
      <xs:element name="DisplayTypeCode" type="bdt:UserInterfaceCodeType"/>
      <xs:element name="NumberOfLines" type="xs:string"/>
      <xs:element name="LineWidth" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustmentType">
    <xs:sequence>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryDetailsType">
    <xs:sequence>
      <xs:element name="Batch" type="BatchInformationType" minOccurs="0"/>
      <xs:element name="TransactionDetails" type="EntryTransactionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryTransactionType">
    <xs:sequence>
      <xs:element name="References" type="TransactionReferencesType" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType"/>
      <xs:element name="AmountDetails" type="AmountAndCurrencyExchangeType" minOccurs="0"/>
      <xs:element name="Availability" type="CashBalanceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BankTransaction" type="BankTransactionType" minOccurs="0"/>
      <xs:element name="Charges" type="ChargesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Interest" type="TransactionInterestType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RelatedParties" type="TransactionPartiesType" minOccurs="0"/>
      <xs:element name="RelatedAgents" type="TransactionAgentsType" minOccurs="0"/>
      <xs:element name="PurposeCode" type="bdt:PurposeCodeType" minOccurs="0"/>
      <xs:element name="RelatedRemittanceInformation" type="RemittanceLocationType" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RemittanceInformation" type="RemittanceInformationType" minOccurs="0"/>
      <xs:element name="RelatedDates" type="TransactionDatesType" minOccurs="0"/>
      <xs:element name="RelatedPrice" type="TransactionPriceChoiceType" minOccurs="0"/>
      <xs:element name="RelatedQuantities" type="TransactionQuantitiesChoiceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FinancialInstrumentID" type="bdt:SecurityIDType" minOccurs="0"/>
      <xs:element name="Tax" type="TaxInformationType" minOccurs="0"/>
      <xs:element name="ReturnInformation" type="PaymentReturnReasonType" minOccurs="0"/>
      <xs:element name="CorporateAction" type="CorporateActionType" minOccurs="0"/>
      <xs:element name="SafekeepingAccount" type="SecuritiesAccountType" minOccurs="0"/>
      <xs:element name="CashDeposit" type="CashDepositType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardTransaction" type="CardTransactionType" minOccurs="0"/>
      <xs:element name="AdditionalTransactionInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:FinancialInstitutionIDType" minOccurs="0"/>
      <xs:element name="ClearingSystemMember" type="ClearingSystemMemberType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
      <xs:element name="OtherID" type="bdt:GenericFinancialIDType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FromToAmountRangeType">
    <xs:sequence>
      <xs:element name="FromAmount" type="AmountRangeBoundaryType"/>
      <xs:element name="ToAmount" type="AmountRangeBoundaryType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeaderType">
    <xs:sequence>
      <xs:element name="MessageID" type="bdt:MessageIDType"/>
      <xs:element name="CreationDateTime" type="xs:dateTime"/>
      <xs:element name="MessageRecipient" type="PartyType" minOccurs="0"/>
      <xs:element name="MessagePagination" type="PaginationType" minOccurs="0"/>
      <xs:element name="OriginalBusinessQuery" type="OriginalBusinessQueryType" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImpliedCurrencyAmountRangeChoiceType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="FromAmount" type="AmountRangeBoundaryType"/>
        <xs:element name="ToAmount" type="AmountRangeBoundaryType"/>
        <xs:element name="FromToAmount" type="FromToAmountRangeType"/>
        <xs:element name="EqualAmount" type="xs:decimal"/>
        <xs:element name="NotEqualAmount" type="xs:decimal"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterestRateType">
    <xs:sequence>
      <xs:element name="Type">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Percentage" type="xs:decimal"/>
            <xs:element name="Other" type="xs:string"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidityRange" type="CurrencyAndAmountRangeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterestRecordType">
    <xs:sequence>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType"/>
      <xs:element name="TypeCode" type="TypeInterestType" minOccurs="0"/>
      <xs:element name="Rate" type="InterestRateType" minOccurs="0"/>
      <xs:element name="FromToDate" type="DateTimePeriodDetailsType" minOccurs="0"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="Tax" type="TaxChargesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameAndAddressType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Address" type="PostalAddressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberAndSumOfTransactionsType">
    <xs:sequence>
      <xs:element name="NumberOfEntries" type="xs:string" minOccurs="0"/>
      <xs:element name="Sum" type="xs:decimal" minOccurs="0"/>
      <xs:element name="TotalNetEntryAmount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalAndCurrentQuantitiesType">
    <xs:sequence>
      <xs:element name="FaceAmount" type="xs:decimal"/>
      <xs:element name="AmortisedValue" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalBusinessQueryType">
    <xs:sequence>
      <xs:element name="MessageID" type="xs:string"/>
      <xs:element name="MessageNameID" type="xs:string" minOccurs="0"/>
      <xs:element name="CreationDateTime" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaginationType">
    <xs:sequence>
      <xs:element name="PageNumber" type="xs:string"/>
      <xs:element name="LastPageIndicator" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
      <xs:element name="ID" type="bdt:PartyIDType" minOccurs="0"/>
      <xs:element name="CountryOfResidenceCode" type="bdt:CountryCodeType" minOccurs="0"/>
      <xs:element name="ContactDetails" type="ContactDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCardType">
    <xs:sequence>
      <xs:element name="PlainCardData" type="PlainCardDataType" minOccurs="0"/>
      <xs:element name="CardCountryCode" type="bdt:CardCountryCodeType" minOccurs="0"/>
      <xs:element name="CardBrandID" type="bdt:GenericCardIDType" minOccurs="0"/>
      <xs:element name="AdditionalCardData" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentReturnReasonType">
    <xs:sequence>
      <xs:element name="OriginalBankTransaction" type="BankTransactionType" minOccurs="0"/>
      <xs:element name="Originator" type="PartyType" minOccurs="0"/>
      <xs:element name="ReasonCode" type="bdt:ReturnReasonCodeType" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlainCardDataType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:PlainCardIDType"/>
      <xs:element name="CardSequenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="EffectiveDate" type="xs:gYearMonth" minOccurs="0"/>
      <xs:element name="ExpiryDate" type="xs:gYearMonth"/>
      <xs:element name="ServiceCode" type="bdt:ServiceCodeType" minOccurs="0"/>
      <xs:element name="TrackData" type="TrackDataType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardSecurityCode" type="CardSecurityInformationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointOfInteractionCapabilitiesType">
    <xs:sequence>
      <xs:element name="CardReadingCapabilitiesCode" type="bdt:CardDataReadingCodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardholderVerificationCapabilitiesCode" type="bdt:CardholderVerificationCapabilityCodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OnLineCapabilitiesCode" type="bdt:OnLineCapabilityCodeType" minOccurs="0"/>
      <xs:element name="DisplayCapabilities" type="DisplayCapabilitiesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PrintLineWidth" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointOfInteractionComponentType">
    <xs:sequence>
      <xs:element name="POIComponentType" type="bdt:POIComponentTypeCodeType"/>
      <xs:element name="ManufacturerID" type="xs:string" minOccurs="0"/>
      <xs:element name="Model" type="xs:string" minOccurs="0"/>
      <xs:element name="VersionNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ApprovalNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointOfInteractionType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:GenericCardIDType"/>
      <xs:element name="SystemName" type="xs:string" minOccurs="0"/>
      <xs:element name="GroupID" type="xs:string" minOccurs="0"/>
      <xs:element name="Capabilities" type="PointOfInteractionCapabilitiesType" minOccurs="0"/>
      <xs:element name="Component" type="PointOfInteractionComponentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:sequence>
      <xs:element name="AddressTypeCode" type="bdt:AddressTypeCodeType" minOccurs="0"/>
      <xs:element name="Department" type="xs:string" minOccurs="0"/>
      <xs:element name="SubDepartment" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetName" type="xs:string" minOccurs="0"/>
      <xs:element name="BuildingNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="PostCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TownName" type="xs:string" minOccurs="0"/>
      <xs:element name="CountrySubDivision" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="bdt:CountryCodeType" minOccurs="0"/>
      <xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceType">
    <xs:sequence>
      <xs:element name="Type">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Yielded" type="xs:boolean"/>
            <xs:element name="ValueTypeCode" type="bdt:PriceValueTypeCodeType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Value">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Rate" type="xs:decimal"/>
            <xs:element name="Amount" type="bdt:AmountType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="ProductCode" type="xs:string"/>
      <xs:element name="UnitOfMeasure" type="bdt:UnitOfMeasureCodeType" minOccurs="0"/>
      <xs:element name="ProductQuantity" type="xs:decimal" minOccurs="0"/>
      <xs:element name="UnitPrice" type="xs:decimal" minOccurs="0"/>
      <xs:element name="ProductAmount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="TaxType" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalProductInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryAgentType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="Agent" type="BranchAndFinancialInstitutionType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryAmountAndCurrencyExchangeDetailsType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CurrencyExchange" type="CurrencyExchangeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryDateType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="Date" type="DateAndDateTimeChoiceType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryPartyType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="Party" type="PartyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryPriceType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="PriceAmount" type="bdt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryQuantityType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="Quantity" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType">
    <xs:sequence>
      <xs:element name="TypeCode" type="bdt:ReferredDocumentTypeCodeType" minOccurs="0"/>
      <xs:element name="Number" type="xs:string" minOccurs="0"/>
      <xs:element name="RelatedDate" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedCashAccountType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:AccountIDType"/>
      <xs:element name="Type" type="bdt:CashAccountTypeCodeType" minOccurs="0"/>
      <xs:element name="Currency" type="bdt:CurrencyCodeType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmountType">
    <xs:sequence>
      <xs:element name="DuePayableAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="DiscountAppliedAmount" type="DiscountTypeAndAmountType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CreditNoteAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="TaxAmount" type="TaxTypeAndAmountType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdjustmentAmountAndReason" type="DocumentAdjustmentType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RemittedAmount" type="bdt:AmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformationType">
    <xs:sequence>
      <xs:element name="Unstructured" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Structured" type="StructuredRemittanceInformationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocationType">
    <xs:sequence>
      <xs:element name="RemittanceID" type="bdt:RemittanceIDType" minOccurs="0"/>
      <xs:element name="RemittanceLocationMethodCode" type="bdt:RemittanceLocationMethodCodeType" minOccurs="0"/>
      <xs:element name="RemittanceLocationElectronicAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="RemittanceLocationPostalAddress" type="NameAndAddressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportEntryType">
    <xs:sequence>
      <xs:element name="EntryReference" type="xs:string" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
      <xs:element name="CreditDebitIndicatorCode" type="bdt:CreditDebitCodeType"/>
      <xs:element name="ReversalIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Status" type="bdt:EntryStatusCodeType"/>
      <xs:choice>
        <xs:element name="BookingDate" type="xs:date" minOccurs="0"/>
        <xs:element name="BookingDateTime" type="xs:dateTime" minOccurs="0"/>
      </xs:choice>
      <xs:choice>
        <xs:element name="ValueDate" type="xs:date" minOccurs="0"/>
        <xs:element name="ValueDateTime" type="xs:dateTime" minOccurs="0"/>
      </xs:choice>
      <xs:element name="AccountServicerReference" type="xs:string" minOccurs="0"/>
      <xs:element name="Availability" type="CashBalanceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BankTransaction" type="BankTransactionType"/>
      <xs:element name="CommissionWaiverIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="AdditionalMessageIndicator" type="AdditionalMessageIndicatorType" minOccurs="0"/>
      <xs:element name="AmountDetails" type="AmountAndCurrencyExchangeType" minOccurs="0"/>
      <xs:element name="Charges" type="ChargesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TechnicalInputChannel" type="bdt:TechnicalInputChannelCodeType" minOccurs="0"/>
      <xs:element name="Interest" type="TransactionInterestType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CardTransaction" type="CardEntryType" minOccurs="0"/>
      <xs:element name="EntryDetails" type="EntryDetailsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdditionalEntryInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecuritiesAccountType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:SecuritiesAccountIDType"/>
      <xs:element name="TypeID" type="bdt:GenericCardIDType" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformationType">
    <xs:sequence>
      <xs:element name="ReferredDocumentInformation" type="ReferredDocumentType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ReferredDocumentAmount" type="RemittanceAmountType" minOccurs="0"/>
      <xs:element name="CreditorReferenceInformation" type="CreditorReferenceInformationType" minOccurs="0"/>
      <xs:element name="Invoicer" type="PartyType" minOccurs="0"/>
      <xs:element name="Invoicee" type="PartyType" minOccurs="0"/>
      <xs:element name="AdditionalRemittanceInformation" type="xs:string" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelopeType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataType">
    <xs:sequence>
      <xs:element name="PlaceAndName" type="xs:string" minOccurs="0"/>
      <xs:element name="Envelope" type="SupplementaryDataEnvelopeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmountType">
    <xs:sequence>
      <xs:element name="Rate" type="xs:decimal" minOccurs="0"/>
      <xs:element name="TaxableBaseAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="TotalAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="Details" type="TaxRecordDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuthorisationType">
    <xs:sequence>
      <xs:element name="Title" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxChargesType">
    <xs:sequence>
      <xs:element name="ID" type="bdt:TaxIDType" minOccurs="0"/>
      <xs:element name="Rate" type="xs:decimal" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformationType">
    <xs:sequence>
      <xs:element name="Creditor" type="CreditorTaxPartyType" minOccurs="0"/>
      <xs:element name="Debtor" type="DebtorTaxPartyType" minOccurs="0"/>
      <xs:element name="AdministrationZone" type="xs:string" minOccurs="0"/>
      <xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="Method" type="xs:string" minOccurs="0"/>
      <xs:element name="TotalTaxableBaseAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="TotalTaxAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="Date" type="xs:date" minOccurs="0"/>
      <xs:element name="SequenceNumber" type="xs:decimal" minOccurs="0"/>
      <xs:element name="Record" type="TaxRecordType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriodType">
    <xs:sequence>
      <xs:element name="Year" type="xs:date" minOccurs="0"/>
      <xs:element name="TypeCode" type="bdt:TaxRecordPeriodCodeType" minOccurs="0"/>
      <xs:element name="FromToDate" type="DatePeriodDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetailsType">
    <xs:sequence>
      <xs:element name="Period" type="TaxPeriodType" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordType">
    <xs:sequence>
      <xs:element name="Type" type="xs:string" minOccurs="0"/>
      <xs:element name="Category" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryDetails" type="xs:string" minOccurs="0"/>
      <xs:element name="DebtorStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="CertificateID" type="bdt:CertificateIDType" minOccurs="0"/>
      <xs:element name="FormsCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Period" type="TaxPeriodType" minOccurs="0"/>
      <xs:element name="TaxAmount" type="TaxAmountType" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeAndAmountType">
    <xs:sequence>
      <xs:element name="TypeCode" type="bdt:TaxAmountTypeCodeType" minOccurs="0"/>
      <xs:element name="Amount" type="bdt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalCreditDebitTransactionsType">
    <xs:sequence>
      <xs:element name="NumberOfEntries" type="xs:string" minOccurs="0"/>
      <xs:element name="Sum" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalTransactionsType">
    <xs:sequence>
      <xs:element name="TotalEntries" type="NumberAndSumOfTransactionsType" minOccurs="0"/>
      <xs:element name="TotalCreditEntries" type="TotalCreditDebitTransactionsType" minOccurs="0"/>
      <xs:element name="TotalDebitEntries" type="TotalCreditDebitTransactionsType" minOccurs="0"/>
      <xs:element name="TotalEntriesPerBankTransactionCode" type="BankTransactionCodeTotalsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrackDataType">
    <xs:sequence>
      <xs:element name="TrackNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="TrackValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionAgentsType">
    <xs:sequence>
      <xs:element name="DebtorAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="CreditorAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="FirstIntermediaryAgent" type="BranchAndFinancialInstitutionType" minOccurs="0" maxOccurs="3"/>
      <xs:element name="SecondIntermediaryAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="ThirdIntermediaryAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="ReceivingAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="DeliveringAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="IssuingAgent" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="SettlementPlace" type="BranchAndFinancialInstitutionType" minOccurs="0"/>
      <xs:element name="Proprietary" type="ProprietaryAgentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionDatesType">
    <xs:sequence>
      <xs:element name="AcceptanceDateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="TradeActivityContractualSettlementDate" type="xs:date" minOccurs="0"/>
      <xs:element name="TradeDate" type="xs:date" minOccurs="0"/>
      <xs:element name="InterbankSettlementDate" type="xs:date" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:date" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:date" minOccurs="0"/>
      <xs:element name="TransactionDateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="Proprietary" type="ProprietaryDateType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInterestType">
    <xs:sequence>
      <xs:element name="TotalInterestAndTaxAmount" type="bdt:AmountType" minOccurs="0"/>
      <xs:element name="Record" type="InterestRecordType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionPartiesType">
    <xs:sequence>
      <xs:element name="InitiatingParty" type="PartyType" minOccurs="0"/>
      <xs:element name="Debtor" type="PartyType" minOccurs="0"/>
      <xs:element name="DebtorAccount" type="CashAccountType" minOccurs="0"/>
      <xs:element name="UltimateDebtor" type="PartyType" minOccurs="0"/>
      <xs:element name="Creditor" type="PartyType" minOccurs="0"/>
      <xs:element name="CreditorAccount" type="CashAccountType" minOccurs="0"/>
      <xs:element name="UltimateCreditor" type="PartyType" minOccurs="0"/>
      <xs:element name="TradingParty" type="PartyType" minOccurs="0"/>
      <xs:element name="Proprietary" type="ProprietaryPartyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionPriceChoiceType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DealPrice" type="PriceType"/>
        <xs:element name="Proprietary" type="ProprietaryPriceType" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionQuantitiesChoiceType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Quantity">
          <xs:complexType>
            <xs:choice>
              <xs:element name="Unit" type="xs:decimal"/>
              <xs:element name="FaceAmount" type="xs:decimal"/>
              <xs:element name="AmortisedValue" type="xs:decimal"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantitiesType"/>
        <xs:element name="Proprietary" type="ProprietaryQuantityType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionReferencesType">
    <xs:sequence>
      <xs:element name="MessageID" type="bdt:MessageIDType" minOccurs="0"/>
      <xs:element name="AccountServicerReference" type="xs:string" minOccurs="0"/>
      <xs:element name="PaymentInformationID" type="bdt:PaymentInformationIDType" minOccurs="0"/>
      <xs:element name="InstructionID" type="bdt:InstructionIDType" minOccurs="0"/>
      <xs:element name="EndToEndID" type="bdt:EndToEndIDType" minOccurs="0"/>
      <xs:element name="TransactionID" type="bdt:TransactionIDType" minOccurs="0"/>
      <xs:element name="MandateID" type="bdt:MandateIDType" minOccurs="0"/>
      <xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ClearingSystemReference" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountOwnerTransactionID" type="bdt:TransactionIDType" minOccurs="0"/>
      <xs:element name="AccountServicerTransactionID" type="bdt:TransactionIDType" minOccurs="0"/>
      <xs:element name="MarketInfrastructureTransactionID" type="bdt:TransactionIDType" minOccurs="0"/>
      <xs:element name="ProcessingID" type="bdt:ProcessingIDType" minOccurs="0"/>
      <xs:element name="ProprietaryReferenceID" type="bdt:ReferencingIDType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeInterestType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="schemeID" type="xs:token" default="IBAN" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" default="2007" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="xs:token" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
