SAP-CDM-BTMU-Mappings/SAP-CDM-Mappings/Messages/CDM/V1/pain.008.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Global License Asset Management (SAP AG) -->
<!--Generated by SWIFTStandards Workstation (build:R7.1.30.4) on 2012 Jun 07 20:47:19-->
<xs:schema xmlns="http://sapcd.com/fsnagt/cdm/pain.008.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sapcd.com/fsnagt/cdm/pain.008.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Other" type="GenericAccountIdentification1">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Othr</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmendmentInformationDetails8">
		<xs:sequence>
			<xs:element name="OriginalMandateIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlMndtId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalCreditorSchemeIdentification" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlCdtrSchmeId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalCreditorAgent" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlCdtrAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalCreditorAgentAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlCdtrAgtAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalDebtor" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlDbtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalDebtorAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlDbtrAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalDebtorAgent" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlDbtrAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalDebtorAgentAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlDbtrAgtAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalFinalCollectionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlFnlColltnDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalFrequency" type="Frequency6Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">OrgnlFrqcy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Authorisation1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="Authorisation1Code">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinancialInstitutionIdentification" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FinInstnId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchIdentification" type="BranchData2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">BrnchId</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Identification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddress6" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PstlAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24">
		<xs:sequence>
			<xs:element name="Identification" type="AccountIdentification4Choice">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="CashAccountType2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="ActiveOrHistoricCurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ccy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClearingSystemIdentification" type="ClearingSystemIdentification2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ClrSysId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MemberIdentification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">MmbId</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NamePrefix" type="NamePrefix1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">NmPrfx</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PhneNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobileNumber" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">MobNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FaxNumber" type="xs:normalizedString" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FaxNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">EmailAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Othr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Type" type="CreditorReferenceType2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ref</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="DocumentType3Code">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CodeOrProprietary" type="CreditorReferenceType1Choice">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdOrPrtry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerDirectDebitInitiationV03">
		<xs:sequence>
			<xs:element name="GroupHeader" type="GroupHeader55">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">GrpHdr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentInformation" type="PaymentInstruction7" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SplmtryData</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDate" type="xs:date">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">BirthDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProvinceOfBirth" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PrvcOfBirth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityOfBirth" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CityOfBirth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOfBirth" type="CountryCode">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtryOfBirth</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FromDate" type="xs:date">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FrDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDate" type="xs:date">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ToDt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectDebitTransaction7">
		<xs:sequence>
			<xs:element name="MandateRelatedInformation" type="MandateRelatedInformation8" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">MndtRltdInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorSchemeIdentification" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrSchmeId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreNotificationIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PreNtfctnId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreNotificationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PreNtfctnDt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectDebitTransactionInformation11">
		<xs:sequence>
			<xs:element name="PaymentIdentification" type="PaymentIdentification1">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentTypeInformation" type="PaymentTypeInformation24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtTpInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstructedAmount" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">InstdAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeBearer" type="ChargeBearerType1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ChrgBr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectDebitTransaction" type="DirectDebitTransaction7" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DrctDbtTx</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UltimateCreditor" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">UltmtCdtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAgent" type="BranchAndFinancialInstitutionIdentification5">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DbtrAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAgentAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DbtrAgtAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Debtor" type="PartyIdentification43">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dbtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAccount" type="CashAccount24">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DbtrAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UltimateDebtor" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">UltmtDbtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstructionForCreditorAgent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">InstrForCdtrAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="Purpose2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Purp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegulatoryReporting" type="RegulatoryReporting3" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RgltryRptg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tax" type="TaxInformation3" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedRemittanceInformation" type="RemittanceLocation2" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RltdRmtInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittanceInformation" type="RemittanceInformation7" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtInf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountAmountAndType1">
		<xs:sequence>
			<xs:element name="Type" type="DiscountAmountType1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Amt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountAmountType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element ref="CustomerDirectDebitInitiation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amount" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Amt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDebitIndicator" type="CreditDebitCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtDbtInd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Rsn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AddtlInf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">BICFI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClearingSystemMemberIdentification" type="ClearingSystemMemberIdentification2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ClrSysMmbId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddress6" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PstlAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="GenericFinancialIdentification1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Othr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Identification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchemeName" type="AccountSchemeName1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SchmeNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Identification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchemeName" type="FinancialIdentificationSchemeName1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SchmeNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Identification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchemeName" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SchmeNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Identification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchemeName" type="PersonIdentificationSchemeName1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SchmeNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader55">
		<xs:sequence>
			<xs:element name="MessageIdentification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">MsgId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CreDtTm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authorisation" type="Authorisation1Choice" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Authstn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfTransactions" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">NbOfTxs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ControlSum" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtrlSum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitiatingParty" type="PartyIdentification43">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">InitgPty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForwardingAgent" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FwdgAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRelatedInformation8">
		<xs:sequence>
			<xs:element name="MandateIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">MndtId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOfSignature" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DtOfSgntr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmendmentIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AmdmntInd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmendmentInformationDetails" type="AmendmentInformationDetails8" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AmdmntInfDtls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectronicSignature" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ElctrncSgntr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstCollectionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FrstColltnDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalCollectionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FnlColltnDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frequency" type="Frequency6Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Frqcy</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="PostalAddress6">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Adr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AnyBIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Othr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrganisationIdentification" type="OrganisationIdentification8">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">OrgId</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrivateIdentification" type="PersonIdentification5">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">PrvtId</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddress6" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PstlAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identification" type="Party11Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOfResidence" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtryOfRes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactDetails" type="ContactDetails2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtctDtls</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstructionIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">InstrId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndToEndIdentification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">EndToEndId</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstruction7">
		<xs:sequence>
			<xs:element name="PaymentInformationIdentification" type="xs:string">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtInfId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentMethod" type="PaymentMethod2Code">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtMtd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BatchBooking" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">BtchBookg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfTransactions" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">NbOfTxs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ControlSum" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtrlSum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentTypeInformation" type="PaymentTypeInformation24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PmtTpInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedCollectionDate" type="xs:date">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ReqdColltnDt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Creditor" type="PartyIdentification43">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Cdtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorAccount" type="CashAccount24">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorAgent" type="BranchAndFinancialInstitutionIdentification5">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorAgentAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrAgtAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UltimateCreditor" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">UltmtCdtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeBearer" type="ChargeBearerType1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ChrgBr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargesAccount" type="CashAccount24" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ChrgsAcct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargesAccountAgent" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">ChrgsAcctAgt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorSchemeIdentification" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrSchmeId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectDebitTransactionInformation" type="DirectDebitTransactionInformation11" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DrctDbtTxInf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation24">
		<xs:sequence>
			<xs:element name="InstructionPriority" type="Priority2Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">InstrPrty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceLevel" type="ServiceLevel8Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SvcLvl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocalInstrument" type="LocalInstrument2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">LclInstrm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequenceType" type="SequenceType3Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SeqTp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryPurpose" type="CategoryPurpose1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtgyPurp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DateAndPlaceOfBirth" type="DateAndPlaceOfBirth" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DtAndPlcOfBirth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Othr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AddressType" type="AddressType2Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AdrTp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dept</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubDepartment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SubDept</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">StrtNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BuildingNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">BldgNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PstCd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TownName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TwnNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubDivision" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtrySubDvsn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ctry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="7">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AdrLine</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Type" type="ReferredDocumentType2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RltdDt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="DocumentType5Code">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CodeOrProprietary" type="ReferredDocumentType1Choice">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdOrPrtry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Issr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryAuthority2">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ctry</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryReporting3">
		<xs:sequence>
			<xs:element name="DebitCreditReportingIndicator" type="RegulatoryReportingType1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DbtCdtRptgInd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authority" type="RegulatoryAuthority2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Authrty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Details" type="StructuredRegulatoryReporting3" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dtls</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount2">
		<xs:sequence>
			<xs:element name="DuePayableAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DuePyblAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountAppliedAmount" type="DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DscntApldAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditNoteAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtNoteAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxAmount" type="TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustmentAmountAndReason" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AdjstmntAmtAndRsn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittedAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtdAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation7">
		<xs:sequence>
			<xs:element name="Unstructured" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ustrd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Structured" type="StructuredRemittanceInformation9" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Strd</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceLocation2">
		<xs:sequence>
			<xs:element name="RemittanceIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittanceLocationMethod" type="RemittanceLocationMethod2Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtLctnMtd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittanceLocationElectronicAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtLctnElctrncAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittanceLocationPostalAddress" type="NameAndAddress10" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RmtLctnPstlAdr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRegulatoryReporting3">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ctry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Amt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Information" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Inf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation9">
		<xs:sequence>
			<xs:element name="ReferredDocumentInformation" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RfrdDocInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferredDocumentAmount" type="RemittanceAmount2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RfrdDocAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorReferenceInformation" type="CreditorReferenceInformation2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CdtrRefInf</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Invoicer" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Invcr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Invoicee" type="PartyIdentification43" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Invcee</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalRemittanceInformation" type="xs:string" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AddtlRmtInf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryData1">
		<xs:sequence>
			<xs:element name="PlaceAndName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">PlcAndNm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Envelope" type="SupplementaryDataEnvelope1">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Envlp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataEnvelope1">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmount1">
		<xs:sequence>
			<xs:element name="Rate" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxableBaseAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxblBaseAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TtlAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Details" type="TaxRecordDetails1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dtls</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountAndType1">
		<xs:sequence>
			<xs:element name="Type" type="TaxAmountType1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Amt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Code" type="xs:token">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Cd</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Proprietary" type="xs:string">
					<xs:annotation>
						<xs:documentation source="ISO20022 - XML Tag">Prtry</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAuthorisation1">
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Titl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Nm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation3">
		<xs:sequence>
			<xs:element name="Creditor" type="TaxParty1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Cdtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Debtor" type="TaxParty2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dbtr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdministrationZone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AdmstnZn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RefNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Method" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Mtd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTaxableBaseAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TtlTaxblBaseAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTaxAmount" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TtlTaxAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Dt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequenceNumber" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">SeqNb</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Record" type="TaxRecord1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Rcrd</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty1">
		<xs:sequence>
			<xs:element name="TaxIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RegnId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxTp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty2">
		<xs:sequence>
			<xs:element name="TaxIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">RegnId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxTp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authorisation" type="TaxAuthorisation1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Authstn</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPeriod1">
		<xs:sequence>
			<xs:element name="Year" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Yr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="TaxRecordPeriod1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromToDate" type="DatePeriodDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FrToDt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecord1">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Tp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Ctgy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryDetails" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CtgyDtls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">DbtrSts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateIdentification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">CertId</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormsCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">FrmsCd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Period" type="TaxPeriod1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Prd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxAmount" type="TaxAmount1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">TaxAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">AddtlInf</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecordDetails1">
		<xs:sequence>
			<xs:element name="Period" type="TaxPeriod1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Prd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="ISO20022 - XML Tag">Amt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Authorisation1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTH"/>
			<xs:enumeration value="FDET"/>
			<xs:enumeration value="FSUM"/>
			<xs:enumeration value="ILEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="SHAR"/>
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Frequency6Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="FRTN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemittanceLocationMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
			<xs:enumeration value="RPRE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRecordPeriod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MM01"/>
			<xs:enumeration value="MM02"/>
			<xs:enumeration value="MM03"/>
			<xs:enumeration value="MM04"/>
			<xs:enumeration value="MM05"/>
			<xs:enumeration value="MM06"/>
			<xs:enumeration value="MM07"/>
			<xs:enumeration value="MM08"/>
			<xs:enumeration value="MM09"/>
			<xs:enumeration value="MM10"/>
			<xs:enumeration value="MM11"/>
			<xs:enumeration value="MM12"/>
			<xs:enumeration value="QTR1"/>
			<xs:enumeration value="QTR2"/>
			<xs:enumeration value="QTR3"/>
			<xs:enumeration value="QTR4"/>
			<xs:enumeration value="HLF1"/>
			<xs:enumeration value="HLF2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CustomerDirectDebitInitiation" type="CustomerDirectDebitInitiationV03"/>
</xs:schema>
